<template name='blueowlbot'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-4'>
        <button type="button" class="btn btn-default" id='readQuote'>Read Quote</button>
      </div>
      <div class='col-xs-4'>
        <button type="button" class="btn btn-default" id='showQuotes'><a href='history'>Show Past Quotes</a></button>
      </div>
      <div class='col-xs-4'>
        <button type="button" class="btn btn-default" id='yodify'>Yodify</button>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'>
        <img src='https://robohash.org/104.236.21.134.png?bgset=bg2.'>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'>
        <img src='https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=300x100&markers=37.7758,-122.4128&key=AIzaSyB7AjTQhkSyetbfqGi704_hmKb-x1MeFJM'>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-4'>
        <button type="button" class="btn btn-default" id='getQuote'>Get Wisdom from Blue Owl Bot</button>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'><h3>{{{quote}}}</h3></div>
    </div>
    <div class='row'>
      <div class='spacing col-xs-4'>
        <button type="button" class="btn btn-success" id='awesome'>Awesome</button>
      </div>
      <div class='spacing col-xs-4'>
        <button type="button" class="btn btn-warning" id='ok'>Okay</button>
      </div>
      <div class='spacing col-xs-4'>
        <button type="button" class="btn btn-danger" id='lame'>Lame</button>
      </div>
    </div>

  </div>
</template>